@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">@ViewBag.Title</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">About</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
