<footer>
    <div style="margin: 10px;">
        <div class="row">
            <div class="col-lg-6 offset-lg-2 col-md-12 offset-md-0">
                <span class="text-white" style="font-size: 28px;">Layout Process Administrator</span><br /><br />
                <p class="text-white" style="font-size: 12px;">
                    Support: <a class="text-white" href="mailto:desarrollo@calisis.com?Subject=Support%20Help">desarrollo@calisis.com</a><br />
                    Marketing: <a class="text-white" href="mailto:ventas@calisis.com?Subject=Support%20Help">ventas@calisis.com</a><br /> <br /><br />
                </p>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-4 text-center">
                        <img class="img-thumbnail rounded" src="~/Images/calisis.png" alt="Calisis" style="margin-right:auto;margin-left:auto;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-white">© @DateTime.Now.Year </span> <a class="text-white" href="http://www.calisis.com/">Calisis - Calidad y Sistemas.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
